In [1]:
import pandas as pd

In [2]:
sos = pd.read_csv (r'2022 Strength of Schedule_NFL.csv')
print (sos)

    Rank Team Opp. Record  Opp. Win Pct.
0      1  LA    164-125-0          0.567
1      2  ARI   157-132-0          0.543
2      3  CIN   154-133-2          0.536
3      4   TB   154-134-1          0.535
4      5   SF   154-135-0          0.533
5      5   KC   154-135-0          0.533
6      7   LV   152-136-1          0.528
7      7   NO   152-136-1          0.528
8      9  ATL   151-137-1          0.524
9     10  LAC   150-139-0          0.519
10    11  SEA   149-139-1          0.517
11    12  CAR   147-140-2          0.512
12    12  PIT   148-141-0          0.512
13    12  BUF   147-140-2          0.512
14    15  DEN   147-142-0          0.509
15    16   NE   143-144-2          0.498
16    17  NYJ   142-145-2          0.495
17    17  CLE   142-145-2          0.495
18    19  HOU   141-148-0          0.488
19    20  MIN   139-148-2          0.484
20    21  MIA   138-149-2          0.481
21    22   GB   137-150-2          0.478
22    23  BAL   136-151-2          0.474
23    24  CHI   135-152-2          0.471
24    24  TEN   136-153-0          0.471
25    26  JAX   135-153-1          0.469
26    26  IND   135-153-1          0.469
27    28  DET   135-154-0          0.467
28    29  NYG   134-154-1          0.465
29    30  PHI   133-154-2          0.464
30    31  DAL   133-155-1          0.462
31    31  WAS   133-155-1          0.462

In [3]:
stats = pd.read_csv (r'NFL Stats_2002.csv')
print (stats)

     season conf   division team  wins  losses  ties     pct  div_rank  \
0      2002  AFC   AFC East  BUF     8       8     0  0.5000         4
1      2002  AFC   AFC East  MIA     9       7     0  0.5625         3
2      2002  AFC   AFC East   NE     9       7     0  0.5625         2
3      2002  AFC   AFC East  NYJ     9       7     0  0.5625         1
4      2002  AFC  AFC North  BAL     7       9     0  0.4375         3
..      ...  ...        ...  ...   ...     ...   ...     ...       ...
667    2022  NFC  NFC South   TB     0       0     0  0.5000         4
668    2022  NFC   NFC West  ARI     0       0     0  0.5000         1
669    2022  NFC   NFC West   LA     0       0     0  0.5000         2
670    2022  NFC   NFC West  SEA     0       0     0  0.5000         3
671    2022  NFC   NFC West   SF     0       0     0  0.5000         4

     scored  allowed  net       sov       sos  seed playoff  Unnamed: 16
0       379      397  -18  0.351562  0.472656   NaN     NaN          NaN
1       378      301   77  0.486111  0.507812   NaN     NaN          NaN
2       381      346   35  0.451389  0.523438   NaN     NaN          NaN
3       359      336   23  0.500000  0.500000   4.0  LostDV          NaN
4       316      354  -38  0.383929  0.500000   NaN     NaN          NaN
..      ...      ...  ...       ...       ...   ...     ...          ...
667       0        0    0  0.000000  0.500000   NaN     NaN          NaN
668       0        0    0  0.000000  0.500000   NaN     NaN          NaN
669       0        0    0  0.000000  0.500000   NaN     NaN          NaN
670       0        0    0  0.000000  0.500000   NaN     NaN          NaN
671       0        0    0  0.000000  0.500000   NaN     NaN          NaN

[672 rows x 17 columns]